.container {
    padding-top: 20px;
    padding-bottom: 90px;
    min-height: calc(100vh - 322px);
    display: block;
    width: 63%;
    margin: 0 auto;
}

.cardList {
    width: 100%;
    height: 600px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.cardItem {
    cursor: pointer;
    display: block;
    width: 24%;
    margin-right: 1.33%;
}

.cardItem:nth-child(4n) {
    margin-right: 0;
}